/**
 *
 * 作者：袁扬
 * 日期：2014.7.14
 * 功能：棋盘元素的样式设置
 * 参考：2048游戏的代码
 *
 */

.game-container{
	position:relative;
	padding:15px;
	background:white;
	border-radius:10px;
}

/*棋盘行*/
.grid-row{
	float:left;
	clear:both;	
}

/*棋盘格子样式1*/
.grid-cell-1{
	width:40px;
	height:40px;
	background:rgba(238, 228, 218, 0.5);
	float:left;
}

/*棋盘格子样式2*/
.grid-cell-2{
	width:40px;
	height:40px;
	background:rgba(203, 172, 141, 0.5);
	float:left;
}

.doudou-container{
	position:relative;
}

/*豆豆*/
.doudou{
	margin:4px;
	border-radius:15px;
	width:30px;
	height:30px;
	position:absolute;
}

/*没有豆豆*/
.empty{
	width:40px;
	height:40px;
	position:absolute;
	cursor: pointer;
}

/*8种颜色及阴影*/
.red{
	background: #FF2424;
	box-shadow: 2px 2px 2px #F66;
}

.yellow{
	background:#FC0;
	box-shadow: 2px 2px 2px #FC3;
}

.green{
	background: #6C3;
	box-shadow: 2px 2px 2px #6C0;
}

.blue{
	background:#69F;
	box-shadow: 2px 2px 2px #69C;
}

.purple{
	background: #96C;
	box-shadow: 2px 2px 2px #969;
}

.orange{
	background:#F93;
	box-shadow: 2px 2px 2px #F96;
}
.brown{
	background:#AC750F;
	box-shadow: 2px 2px 2px #BB8011;
}
.pink{
	background:#F99;
	box-shadow: 2px 2px 2px #F9C;
}